.navbar-light .navbar-nav > .nav-item > a:hover,
.navbar-light .navbar-nav > .nav-item > a:focus {
    color: #ffffff; /* Sets the text hover color on navbar to white */
}

.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
    color: #ffd700; /* Sets the font color for active state to gold */
    background-color: #46166b;
}

.navbar-light {
    color: #ffffff; /* Sets the font color to white */
    background-color: #46166b;
    border-color: #db9f11;
}

.dropdown-menu > .nav-item > a:hover,
.dropdown-menu > .nav-item > a:focus {
    color: #ffffff; /* Sets the text color on dropdown hover to white */
    text-decoration: none;
    background-color: #46166b; /* Change color of links in dropdown here */
}

.nav > .nav-item > a:hover,
.nav > .nav-item > a:focus {
    text-decoration: none;
    background-color: #f0ebeb; /* Change rollover cell color here */
}

.navbar-light .navbar-nav > .nav-item > a {
    color: #ffd700; /* Change active text color here to gold */
}
